* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;


}

/* Header portion */
header {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 0px;
    /* position: absolute; */
    /* top:0; */

}

.logo {}

.logo img {
    width: 125px;
    height: 125px;
    margin-left: 20px;
    margin-top: 4px;




}

.title {
    margin: auto;
    padding-right: 40px;
    font-size: 5.6rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 16, 79);
}

/* Navigation Bar */


.navbar {
    background-color: rgb(4, 16, 79);
    width: 100%;
    height: 5vh;
    display: flex;




}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 0px 4vw;

}

.navbar ul li a {
    text-decoration: none;
    padding: 4px;
    color: white;
    font-size: 1rem;
}

.navbar ul li a:hover {
    background-color: aliceblue;
    color: rgb(9, 2, 99);
    /* border: 2px solid white; */
    border-radius: 12px;
}


/* Background Image */
.navbar::after {
    background: url(../images/background.jpg) no-repeat center center/cover;
    background-size: 100% 100%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}


.container {
    width: 100%;
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.items {
    border: 4px solid #960808;
    height: auto;
    width: 485px;
    margin: 4px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 6px 5px 14px black;
    color:#031031;
    font-size: 1.05rem;
    font-weight: bold;

}

#vision {
    background-image: url(../images/vision.png);
    background-size: 100% 100%;
    text-align: center;
    margin: 10px;
    padding: 7px;;



}
#vision p{
    margin-top: 14px;
}

#mission {
    background-image: url(../images/mission.png);
    background-size: 100% 100%;
    margin: 10px;
    padding: 7px;

}
#mision p{
    margin-top: 14px;
    padding: 5px;
}
#mission h2{
    text-align: center;
    margin-bottom: 14px;
}
#mission  ul{
    text-align: left;
    margin-left: 20px;
    margin-top: 13px;
}
#mission p ul li{
    text-align: left;
    margin-top: 5px;
    padding: 4px;
}
.about{
    margin: 5px;
    color:#031031;
    font-weight: bold;
    font-size: 1.3rem;
}
.about h1{
    text-align: center;
}
.about p{
    margin: 10px;
    padding: 4px;
}