* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;

}

/* Header portion */
header {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 0px;

    /* position: absolute; */
    /* top:0; */

}

.logo {}

.logo img {
    width: 125px;
    height: 125px;
    margin-left: 20px;
    margin-top: 4px;




}

.title {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;

    padding-right: 40px;
    font-size: 5.6rem;
    color: rgb(4, 16, 79);
}

/* Navigation Bar */


.navbar {
    background-color: rgb(4, 16, 79);
    width: 100%;
    height: 5vh;
    display: flex;




}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 0px 4vw;

}

.navbar ul li a {
    text-decoration: none;
    padding: 4px;
    color: white;
    font-size: 1rem;
}

.navbar ul li a:hover, a:active {
    background-color: aliceblue;
    color: rgb(9, 2, 99);
    /* border: 2px solid white; */
    border-radius: 12px;
    transition: all 0.2s ease;
}
#home{
    background-color: aliceblue;
    color: rgb(9, 2, 99);
    /* border: 2px solid white; */
    border-radius: 12px;
}
.overlay-menu {
    background: rgb(12, 20, 58);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    /* -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out; */
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}
.overlay-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-menu li a {
    color: rgb(229, 231, 232);
    border: 2px solid white;
    border-radius: 30px;
    display: block;
    width: 80vw;
    font-size: 1.5em;
    margin: 15px;
    
    /*   opacity: 0; */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    /* -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; */
    
}

.overlay-menu li a:hover
{
    color: rgb(229, 231, 232);
    background-color: rgb(192, 152, 100);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/* Background Image */
header::after {
    background: url(../images/background.jpg) no-repeat center center/cover;
    background-size: 100% 100%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.wordSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 50px;
    

}

/* Wrapper to Center the Typewriter */
.wrapper {
    /* background: #149cbe;
	color: #fff; */
	font-family: "Roboto", sans-serif;
    color: rgb(4, 16, 79);
	font-size: 3rem;
    font-weight: bold;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centeredBox {
	width: 100%;
	text-align: center;
}

/* The Typewriter */

#typewriter{
	
}

.cursor {
	border: 2px solid rgb(4, 16, 79);
    animation: blink 0.8s infinite;
}
@keyframes blink {
    50% {
      border: 2px solid transparent;
    }
    100% {
      border: 2px solid rgb(4, 16, 79);
    }
  }

.container {
    display: flex;
    height: auto;
    /* border: 4px solid green; */
    justify-content: space-evenly;


}

.items {
    /* border: 2px solid blue; */
    margin: 5px;
    height: 500px;
    width: 700px;
    align-self: center;

}

#welcome {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #031031;
}

#welcome p {
    font-size: 1.5rem;
    font-weight: bold;
}

#welcome h1 {
    font-size: 2rem;
}


#imageSlide {
    width: 589px;
    height: 332px;
    align-self: center;
    background-image: url(../images/image7.jpg);
    background-size: 100% 100%;
    border-radius: 30px;
    animation-name: slide;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes slide {
    0% {
        background-image: url(../images/image1.jpeg);
        background-size: 100% 100%;


    }

    12.5% {
        background-image: url(../images/image2.jpeg);
        background-size: 100% 100%;

    }

    25% {
        background-image: url(../images/image3.jpeg);
        background-size: 100% 100%;

    }

    37.5% {
        background-size: 100% 100%;
        background-image: url(../images/image4.jpeg);

    }

    50% {
        background-image: url(../images/image5.jpeg);
        background-size: 100% 100%;

    }

    62.5% {
        background-image: url(../images/image6.jpeg);
        background-size: 100% 100%;

    }

    75% {
        background-image: url(../images/image7.jpeg);
        background-size: 100% 100%;


    }

    87.5% {
        background-image: url(../images/image8.jpeg);
        background-size: 100% 100%;


    }
    100% {
        background-image: url(../images/image9.jpeg);
        background-size: 100% 100%;


    }


}
